.jokes-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.jokes-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.jokes-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jokes-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.jokes-header .home-link a {
  color: var(--color-foreground);
}

.jokes-header .home-link a:hover {
  text-decoration: none;
}

.jokes-header .logo-medium {
  display: none;
}

.jokes-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.jokes-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.jokes-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}

.jokes-main .container {
  display: flex;
  gap: 1rem;
}

.user-dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 10px 0 20px;
  padding: .5rem .75rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: #ffffff1a;
  box-shadow: none;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-foreground);
}

.left-panel {
  max-width: 12rem;
}

.jokes-list {
  padding: 0 10px;
  margin: 0 0 30px;
}

.jokes-list li {
  list-style: none;
  padding-bottom: 5px;
}

.active-joke {
  color: hsl(var(--hs-links) 40%);
  cursor: none;
  text-decoration: none;
  pointer-events: none;
  border-bottom: 1px solid hsl(var(--hs-links) 40%);
  padding-bottom: 2px;
}

.jokes-outlet {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-card {
  border-radius: 25px;
  width: 60%;
  background-color: #ffffff40;
  min-width: 320px;
  box-shadow: 0 3px #ffffff7f;
  position: relative;
  height: 300px;
}

.joke-card p:nth-child(1) {
  position: absolute;
  width: 100%;
  background-color: #6d4b80;
  margin: 0;
  padding: 20px 20px 10px;
  box-shadow: 0 1px #ffffff7f;
  font-size: 22px;
}

.joke-card p:nth-child(2) {
  position: relative;
  top: 63px;
  margin: 0;
  padding: 5px 20px 15px;
  height: 237px;
  overflow: auto;
  font-size: 20px;
}

.jokes-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

@media print, (min-width: 640px) {
  .jokes-header .logo {
    display: none;
  }

  .jokes-header .logo-medium {
    display: block;
  }

  .jokes-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .jokes-main .container {
    flex-direction: column;
  }
  .left-panel {
    margin-bottom: 50px;
  }

  .joke-card {
    max-height: 200px;
    overflow: auto;
    padding: 10px 20px;
  }
}
